@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Artur Loska 2015</p>
                </div>
          </div>
        </div>
    </footer>
  