@inherits Umbraco.Web.Mvc.UmbracoViewPage
 
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

	
	
	
@foreach (var page in CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"))
{ 
    <div class="article">
		
	
		
        <div class="articletitle"><h2 class="intro-text">@page.Name</h2></div>
        <div class="articlepreview"><p>@Umbraco.Truncate(@page.articleContent,100) </p> <a href="@page.Url" class="btn btn-default btn-lg" >Cały artykuł</a></div>
    </div>
    <hr/>
}