@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Navigation -->

    <nav class="navbar navbar-default" role="navigation" id="superNav" style="margin-left: auto; margin-right: auto">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display
				 <!-- <div style="height:inherit;float:left">
					<img src="~/media/1014/lg-logo.png" style="max-height:100%"/>
					</div> -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Artur Loska Site</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   
                    <li>
                        <a href="/home">Główna</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="/otherprojects">Inne</a>
                    </li>
                    <li>
                        <a href="/reflinks">Gry</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container -->
        </div>
    </nav>
