@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	
<div class="row">
<div class="col-xs-12">
                   <strong>World of Tanks</strong>
<br><br>							
<p>
	
	War Thunder jest grą sieciową wydaną w formule free-to-play pozwalającą na rozegranie historycznych starć z okresu drugiej wojny światowej oraz wojny koreańskiej. Cechą szczególną tytułu jest możliwość wzięcia udziału w bitwach łączonych. Piloci, czołgiści a w przyszłości marynarze staną do walki na jednym polu bitwy, zaś zwycięstwo będzie zależało od współdziałania wszystkich trzech sił: lotnictwa, wojsk pancernych oraz marynarki wojennej. Gra została stworzona przez Rosyjskie studio Gaijin Entertainment znane z takich produkcji jak m.in. Wings of Prey, Birds of Steel oraz Apache: Air Assault.

</p>

	<br>
<i>Źródło: http://www.gry-online.pl/S016.asp?ID=16984</i>	
  <hr>	
<a href="http://warthunder.com/" class="btn btn-default btn-lg" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Zagraj! </a>
     	
</div>
</div>