@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	
<div class="row">
<div class="col-xs-12">
                   <strong>World of Tanks</strong>
<br><br>							
<p>
	
	World of Tanks to darmowa gra MMO koncentrująca się na bitwach pomiędzy czołgami. Za produkcję odpowiada studio Wargaming.net, znane z Order of War oraz serii Massive Assault. Gra oferuje nam szansę pokierowania jednym z ponad 150 czołgów, niszczycieli czołgów i artylerii samobieżnych pochodzących z różnych okresów historycznych: od czasów poprzedzających II wojnę światową aż po wojnę koreańską. Każdy z nich posiada unikalną i zgodną z rzeczywistością charakterystykę, którą można usprawniać poprzez rozbudowę i różnorodne ulepszenia. Udostępnione zostały sprzęty amerykańskie, niemieckie, sowieckie, francuskie, brytyjskie, chińskie i japońskie.

</p>

	<br>
<i>Źródło: http://www.gry-online.pl/S016.asp?ID=14697</i>	
  <hr>	
<a href="http://worldoftanks.eu/" class="btn btn-default btn-lg" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Zagraj! </a>
     	
</div>
</div>