@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row">
    <div class="col-xs-12">
        <strong>Drakensang Online</strong>
        <br><br>
        <p>

            Drakensang Online to produkcja RPG stanowiąca kontynuację popularnego cyklu fantasy. Tym razem autorzy ze studia Radeon Labs postanowili położyć nacisk na aspekt sieciowy i umożliwić prowadzenie rozgrywki z poziomu przeglądarki. Drakensang Online to gra MMO w klimatach Diablo, w której przemierzamy krainę fantasy i walczymy z potworami. Świat został standardowo podzielony na miasta (gdzie kupujemy sprzęt i otrzymujemy zadania) oraz niebezpieczne okolice pomiędzy nimi. Zabawa sprowadza się do zabijania hord przeciwników i odwiedzania podziemi, do których kierują nas kolejne zlecenia. Z czasem rozwijamy też możliwości wirtualnego bohatera, reprezentującego jedną z kilku klas.

        </p>
        <br>
        <i>Źródło: http://www.gry-online.pl/S016.asp?ID=15615</i>
        <hr>
        <a href="http://drakensang.gry-online.pl/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Zagraj! </a>

    </div>
</div>