@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row">
    <div class="col-xs-12">
        <strong>Heroes Of The Storm</strong>
        <br><br>
        <p>

            Heroes of the Storm to odpowiedź firmy Blizzard Entertainment na cieszące się dużą popularnością gry z gatunku MOBA (League of Legends, Dota 2 i inne). Początkowo produkcja powstawała jako mod do strategii czasu rzeczywistego StarCraft II. Ostatecznie jednak twórcy zdecydowali się przygotować całkowicie odrębny tytuł. Akcja Heroes of the Storm toczy się w fantastycznym świecie Nexus, w którym zderzają się uniwersa serii Diablo, StarCraft i Warcraft. Zgodnie z regułą gatunku, zabawa skupia się na pojedynkach kilkuosobowych zespołów. Zadaniem drużyn jest przedrzeć się przez fortyfikacje przeciwnika i zająć jego bazę, a także nie dopuścić, by podobna sztuka udała się rywalom.

        </p>
        <br>
        <i>Źródło: http://www.gry-online.pl/S016.asp?ID=21907</i>
        <hr>
        <a href="http://eu.battle.net/heroes/pl/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Zagraj! </a>

    </div>
</div>