@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row">
    <div class="col-xs-12">
        <strong>Drakensang Online</strong>
        <br><br>
        <p>

            Shakes & Fidget to gra fantasy RPG działająca z poziomu przeglądarki. Naszym głównym zajęciem jest stworzenie i rozwijanie postaci, wysyłanie jej na niebezpieczne przygody, a także wizyty w karczmie, gdzie zaspokoimy pragnienie, czy też na arenie, gdzie możemy się zmierzyć z innymi graczami. Do wyboru mamy dwie frakcje, każda z nich posiada po cztery rasy, z których tworzymy naszą postać. Następnie ustawiamy takie detale jak usta, oczy, uszy itd. Mnogość wyborów jest spora i można stworzyć bohatera jak najbardziej odpowiadającego naszym potrzebom. Dalej dobieramy klasę naszej postaci, a wyboru dokonujemy spośród trzech dostępnych: maga, łucznika i wojownika.

        </p>
        <br>
        <i>Źródło: http://www.gry-online.pl/S016.asp?ID=15455</i>
        <hr>
        <a href="http://www.sfgame.pl/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Zagraj! </a>

    </div>
</div>