@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row">
    <div class="col-xs-12">
        <strong>Smite</strong>
        <br><br>
        <p>

            Smite to produkcja koncentrująca się na sieciowych potyczkach pomiędzy graczami. Całość oparta jest na schemacie znanym z moda Defense of the Ancients do gry Warcraft III z trzema kluczowymi różnicami. Walki ukazane są z perspektywy trzeciej osoby, sterowanie pochodzi z typowych gier akcji/TPP, a rozgrywka jest bardziej zręcznościowa, bo oparta na tzw. „skillshotach”. W dużym skrócie oznacza to, że każdy atak czy zaklęcie musimy starannie wymierzyć, jeżeli nie chcemy spudłować. Gra została stworzona przez zespół Hi-Rez Studios, który ma na koncie tytuły takie jak Global Agenda czy Tribes: Ascend.

        </p>
        <br>
        <i>Źródło: http://www.gry-online.pl/S016.asp?ID=17325</i>
        <hr>
        <a href="https://account.hirezstudios.com/smitegame/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Zagraj! </a>

    </div>
</div>